/*
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
////////////////////                                 ////////////////////////
////////////////////       TABLET (PORTRAIT)         ////////////////////////
////////////////////                                 ////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
*/

body {
  background-color: #f5f5f5;
  font-size: 16px;
  font-weight: 300;
}

.application-header {
  background-image: url("/gfx/applications/header-background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 75px;
} 

.application-header__logo {
  height: 35px;
  margin: 20px 0;
}

.application-header__logo-branding {
  color: #0080bb;
}

.application-selection {
  padding: 0 10px 20px;
}

.selection-box {
  border: 1px solid #e2e2e2;
  box-shadow: none;
  flex-basis: calc(50% - 20px);
  flex-grow: 1;
  margin: 0 10px 20px;
  max-width: calc(50% - 20px);
}

.selection-box__header-text {
  font-size: 17px;
}

.selection-box__description {
  font-size: 15px;
}

.selection-box__link {
  font-size: 14px;
}

.application-content {
  border: 1px solid #e2e2e2;
  box-shadow: none;
  margin: 0 20px 40px;
  padding: 30px;
} 

.application-content--edit,
.application-content--credentials {
  align-content: flex-start;
  flex-flow: row wrap;
  padding: 10px;
}

.application-content--edit .application-content__form,
.application-content--credentials .application-content__form  {
  flex-basis: 100%;
  margin: 0;
  max-width: 100%;
  padding: 20px;  
} 

.application-description__credentials,
.application-description__edit {
  max-width: 560px;
}

.application-content.application-content--credentials,
.application-content.application-content--edit {
  max-width: 560px;
}

.application-content--edit .application-editing-information-row {
  flex-basis: calc(50% - 30px);
  font-size: 14px;
  margin: 15px;
  max-width: calc(50% - 30px);
  word-break: break-all;
}

.application-content--edit .application-editing-information-row-single {
  flex-basis: calc(100% - 30px);
  font-size: 14px;
  margin: 15px;
  max-width: calc(100% - 30px);
  word-break: break-all;
}

.application-content--edit .application-editing-information-link {
  margin: 20px;
}

.section-edit-info {
  white-space: nowrap;
}

.section-edit-info .form-section__field-container {
  vertical-align: top;
}

.application-description {
  padding: 20px;
}

.application-selection__section-header {
  font-size: 22px;
  margin: 10px 10px 20px;
}

.application-description__line-header,
.application-description__credentials-header,
.application-description__edit-header {
  font-size: 26px;
  font-weight: 400;
  margin: 20px 0;
}

.application-description__line-content {
  font-size: 16px;
}

h3 {
  margin: 0 0 20px;
  padding: 0;
  font-family: "Exo 2";
  font-weight: 300;
  font-size: 26px;
}

input, 
select, 
option, 
select,
button {
  background: #fff;
  font-family: "Open Sans", arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

input[type="checkbox"] {
  height: 25px;
  width: 25px;
}

input[type="checkbox"]:checked::after {
  font-size: 19px;
}

.privacy-policy,
.course-fees,
.nettilukio-promise,
.aineopiskelu-promise,
.nettipk-promise {
  border-radius: 5px;
  bottom: 20px;
  box-shadow: 0 0 50px rgba(0,0,0,0.2);
  left: 50%;
  margin: 0 0 0 -300px;
  max-width: 600px;
  overflow: scroll;
  padding: 20px;
  position: fixed;
  top: 20px;
  z-index: 100;
}

.privacy-policy__close,
.course-fees__close,
.nettilukio-promise__close,
.aineopiskelu-promise__close,
.nettipk-promise__close {
  background-color: transparent;
  background-image: url('../gfx/icons/48x48/actions/close.png');
  border: 0;
  height: 35px;
  right: 20px;
  top: 20px;
  width: 35px;
}

.important__label {
  font-size: 20px;
}

.important__data {
  padding: 8px;
  font-size: 26px;
}

.application-footer__contact {
  padding: 20px;  
}

.application-footer__contact-title {
  font-size: 26px;
}

.application-footer__contact-row {
  padding: 10px 0;
}

.application-footer__links {
  padding: 20px;
}

.application-footer__external-link {
  padding: 10px;
}
