/*
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
////////////////////                                 ////////////////////////
////////////////////           MOBILE                ////////////////////////
////////////////////                                 ////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
*/

body {
  background-color: #f5f5f5;
  color: #000;
  display: flex;
  flex-flow: column nowrap;
  font-family: "Exo 2", arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  justify-content: space-between;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  padding: 0;
}

/* HEADER */
.application-header {
  background-color: #0080bb;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: "Exo 2", arial, sans-serif;
  height: 50px;
  width: 100%;
}

.application-header__content {
  padding: 0 15px;
  position: relative;
  width: 100%;
  z-index: 9;
}

.application-header__logo {
  background-image: url("/gfx/gui/otavia-logo-white.png");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  margin: 10px 0;
}

/* SELECTION LAYOUT */
.application-selection {
  align-content: flex-start;
  display: flex;
  flex-basis: 100%;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 0 20px;
}

.application-selection__section-container {
  align-content: flex-start;
  display: flex;
  flex-basis: 100%;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 0 20px;
}

.application-selection__section-header {
  font-size: 18px;
  font-weight: 400;
  margin: 10px 15px;
}

.selection-box {
  align-items: flex-start;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-flow: column nowrap;
  flex-shrink: 1;
  justify-content: space-between;
  margin: 0 0 20px;
}

.selection-box__header-image {
  min-height: 146px;
  position: relative;
  width: 100%;
}

.selection-box--nettilukio .selection-box__header-image {
  background-image: url("/gfx/applications/header-nettilukio.png");
  background-position: center center;
  background-size: cover;
}

.selection-box--nettiperuskoulu .selection-box__header-image {
  background-image: url("/gfx/applications/header-nettiperuskoulu.png");
  background-position: center center;
  background-size: cover;
}

.selection-box--aineopiskelu .selection-box__header-image {
  background-image: url("/gfx/applications/header-aineopiskelu.png");
  background-position: center center;
  background-size: cover;
}

.selection-box--aikuislukio .selection-box__header-image {
  background-image: url("/gfx/applications/header-aikuislukio.png");
  background-position: center center;
  background-size: cover;
}

.selection-box--maahanmuuttajakoulutus .selection-box__header-image {
  background-image: url("/gfx/applications/header-maahanmuuttajakoulutus.png");
  background-position: center center;
  background-size: cover;
}

.selection-box__header-text {
  background: #000;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  bottom: 30px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  padding: 10px 15px;
  position: absolute;
  text-transform: uppercase;
}

.selection-box--nettilukio .selection-box__header-text-indicator {
  color: #5dbdc5;
}

.selection-box--nettiperuskoulu .selection-box__header-text-indicator {
  color: #ef7d00;
}

.selection-box--aineopiskelu .selection-box__header-text-indicator {
  color: #c04080;
}

.selection-box--aikuislukio .selection-box__header-text-indicator {
  color: #0080bb;
}

.selection-box--maahanmuuttajakoulutus .selection-box__header-text-indicator {
  color: #5dbdc5;
}

.selection-box__description {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 14px;
  padding: 15px;
}

.selection-box__link-container {
  padding: 15px;
}

.selection-box__link {
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  padding: 8px;
  text-decoration: none;
  text-transform: uppercase;
}

.selection-box--nettilukio .selection-box__link {
  background-color: #5dbdc5;
}

.selection-box--nettiperuskoulu .selection-box__link {
  background-color: #ef7d00;
}

.selection-box--aineopiskelu .selection-box__link {
  background-color: #c04080;
}

.selection-box--aikuislukio .selection-box__link {
  background-color: #0080bb;
}

.selection-box--maahanmuuttajakoulutus .selection-box__link {
  background-color: #5dbdc5;
}


/* CONTENT */
.application-description {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 100%;
  padding: 15px;
}

.application-description__line {
  max-width: 100%;
}

.application-description__credentials,
.application-description__edit {
  display: block;
  max-width: 100%;
}

.application-description__line--selection {
  display: block;
  max-width: 100%;
}

.application-description__line-header,
.application-description__credentials-header,
.application-description__edit-header {
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
}

.application-description__credentials-header--error {
  text-align: center; 
}

.application-description__line-label {
  color: #000;
  font-weight: 600;
}

.application-description__line-label--nettilukio {
  color: #5dbdc5;
  font-weight: 600;
}

.application-description__line-label--nettiperuskoulu {
  color: #ef7d00;
  font-weight: 600;
}

.application-description__line-label--aikuislukio {
  color: #0080bb;
  font-weight: 600;
}

.application-description__line-label--aineopiskelu {
  color: #c04080;
  font-weight: 600;
}

.application-description__line-label--maahanmuuttajakoulutus {
  color: #5dbdc5;
  font-weight: 600;
}

.application-description__line-content {
  font-size: 15px;
  font-style: italic;
}

/* APPLICATION LAYOUT */
.application-content {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-flow: column nowrap;
  flex-shrink: 1;
  margin: 0 0 40px;
  max-width: 100%;
  padding: 15px;
  position: relative;
}

.application-content--credentials {
  display: block;
}

.application-content--credentials .error-container {
  color: #b94a48;
}

.application-content__information {
  background-color: #f4f4f4;
  border-radius: 5px;
  display: none;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0 0 20px;
  order: 1;
  padding: 20px;
}

.application-content__information b,
.application-editing-information-row b,
.application-credentials-information-row b {
  font-weight: 600;
}

.application-editing-information-row {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0 0 20px;
}

.application-credentials-information-row {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0 0 10px;
}

.application-editing-information-link {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 100%;
  margin: 0 0 10px;
}

.application-header__show-content-information {
  align-items: center;
  border: 1px solid #b2e4ed;
  border-radius: 5px;
  color: #b2e4ed;
  cursor: pointer;
  display: flex;
  font-size: 17px;
  font-family: "Exo 2";
  font-weight: 600;
  height: 28px;
  justify-content: center;
  line-height: 1;
  margin: -14px 0 0 0;
  position: absolute;
  right: 15px;
  top: 50%;
  width: 28px;
}

.application-content__information-page-specific {
  margin: 0 0 10px;
}

.application-content__information-line-specific {
  margin: 10px 0 0;
}

.application-content__information-page-specific-non-summary,
.application-content__information-page-specific-summary {
  margin: 0 0 10px;
}

.application-content__information-page-specific p:last-child,
.application-content__information-line-specific p:last-child {
  margin: 10px 0 0;
}

.application-content__form {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  order: 2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Exo 2", arial, sans-serif;
  font-weight: 300;
}

h3 {
  margin: 0 0 20px;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}

.form-section__header--Nettilukio {
  color: #5dbdc5;
}

.form-section__header--Nettiperuskoulu {
  color: #ef7d00;
}

.form-section__header--Aineopiskelu {
  color: #c04080;
}

.form-section__header--Aikuislukio {
  color: #0080bb;
}

.form-section__header--Maahanmuuttajakoulutukset {
  color: #5dbdc5;
}

a {
  color: #009fe3;
}

strong,
b {
  font-weight: 600;
}

/* Course fees and study promises */

.course-fees-overlay,
.nettilukio-promise-overlay,
.aineopiskelu-promise-overlay,
.nettipk-promise-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.8;
  z-index: 99;
  width: 100%;
}

.course-fees,
.nettilukio-promise,
.aineopiskelu-promise,
.nettipk-promise {
  background: #fff;
  border: 3px solid #8ed2de;
  bottom: 0;
  left: 0;
  margin: 0;
  max-width: 100%;
  overflow: scroll;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

.course-fees__close,
.nettilukio-promise__close,
.aineopiskelu-promise__close,
.nettipk-promise__close {
  background-color: #009fe3;
  background-image: url('../gfx/icons/48x48/actions/close.png');
  background-size: contain;
  width: 32px;
  height: 32px;
  padding: 4px;
  border-radius: 100%;
  position: fixed;
  right: 10px;
  top: 10px;
  border: 5px solid #009fe3;
  cursor: pointer;
}

/* EDITING CODE */
.important {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
}

.important__label {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-weight: 400;
  font-size: 16px;
  margin: 0 10px 0 0;
}

.important__data {
  border-radius: 3px;
  padding: 6px;
  background: #e1ffff;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 20px;
  margin: 5px 0;
  display: inline-block;
  font-weight: 300;
}

span.email {
  font-weight: 400;
  display: inline-block;
}

/* FOOTER */
.application-footer {
  background-color: #5db5c5;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: "Exo 2", arial, sans-serif;
  font-size: 14px;
  width: 100%;
}

.application-footer__contact {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 15px;  
  width: 100%;
}

.application-footer__contact-title {
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  line-height: 1;
  padding: 0 0 10px;
}

.application-footer__contact-row {
  color: #fff;
  line-height: 1;
  padding: 5px 0;
}

.application-footer__contact-row-label {
  font-weight: 600;
}

.application-footer__links {
  align-items: center;
  background-color: #0080bb;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 15px;
  text-align: center;  
  width: 100%;
}

.application-footer__external-link {
  color: #fff;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  line-height: 1;
  padding: 5px 10px;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}

.signatures-auth-sources {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.signatures-auth-sources img {
  background: #fff;
  border: 2px solid #eee;
  border-radius: 4px;
  cursor: pointer;
  height: 55px;
  padding: 5px;
  margin: 2px;
}

.signatures-auth-sources img:hover {
  border: 2px solid #83f8f3;
}
